{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

    {% if result is defined %}
        {{ result }}
    {% endif %}

{% endblock %}

{% block title %}

{% endblock %}

