{% extends 'base.html.twig' %}

{% block body %}
    <h1>Вы уже были зарегистрированы на нашем сервисе</h1>
    <p>Для продолжения работы с ресурсом пожалуйста <a href="{{ path('app_login_page') }}"> авторизуйтесь</a></p>
{% endblock %}

